<nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                    <!--
                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                        <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">{{main.userName}}</strong>
                        </span>
                        <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                    -->
                <div class="profile-element" style="color: white; font-size: 2em; font-weight: 600">
                    puug <div style="font-size: 0.5em;">Analytics Platform</div>
                </div>
                <div class="logo-element">
                    puug
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.summary"><i class="fa fa-bar-chart"></i> <span class="nav-label">Keywords Summary</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.scenario"><i class="fa fa-line-chart"></i> <span class="nav-label">Keword Scenario</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.article"><i class="fa fa-file-text-o"></i> <span class="nav-label">Related Article</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.user"><i class="fa fa-user-plus"></i> <span class="nav-label">Related User</span></a>
            </li>
            <li ui-sref-active="active">
                &nbsp;
            </li>
            <li ui-sref-active="active">
                &nbsp;
            </li>
            <li ui-sref-active="active">
                &nbsp;
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.rule"><i class="fa fa-cog"></i> <span class="nav-label">Settings</span></a>
            </li>
        </ul>
    </div>
</nav>
